// Global

$color-main: #d63031;
$color-light: #FFF;

$font-header: 'Lato', sans-serif; 
$font-text: 'Crimson Text', serif;

*, *::before, *::after {
    box-sizig: border-box;    
}
body {
    margin: 0;   
    text-align: center;
    background-color: $color-light;
    color: #3d3d3d;
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
section {
    padding: 108px 0;   
}
.section-title {
    position: relative;
    font-family: $font-header;
    font-size: 36px;
    margin-bottom: 60px;
}
.section-title::after {
    position: absolute;
    content: ' ';
    bottom: -12px;
    left: 50%;
    height: 10px;
    width: 50px;
    transform: translateX(-50%);
    background: $color-main;
}
// Splash
.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.splash i {
    font-size: 40px; 
    background-color: $color-main;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-light;
    border-radius: 50%;
    opacity: 0.7;
}
.page-title {
    color: $color-main;
    font-family: $font-header;
    font-size: 60px;
    margin-top: 25px;
}
.page-title::after {
    position: absolute;
    content: ' ';
    bottom: 70px;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-light;
    border-radius: 20px;
    opacity: 0.6;
}
.page-subtitle {
    color: $color-main;
    font-size: 18px;
    margin-top: 48px;
}
// Intro

.intro {
    background: $color-light;
}
.intro p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 24px;
    border-top: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
}
// About

.about {
    background-color: #b2bec3;
}

// Skills

[class^="skill-"] {
    position: relative;   
}
.skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.skill-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}
.skill-image img:hover {
    transform: scale(2);   
}
.skill-right .skill-image {
    right: 0;   
}
.skill-right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: right;
}
.skill-left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left;
}
.skill-title {
    font-family: $font-header;
    font-size: 24px;
}

// Gallery

.row::before,
.row::after {
    clear: both;
    content: "";
    display: table;
}

.project-image {
    float: left;
    width: 33.3333%;
    height: 250px;
    position: relative;
}
.project-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-info {
    position: absolute;   
    width: 100%;  
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 48, 49,0.0);
    color: $color-light;
    opacity: 0.0;
    visibility: hidden;
    transition: background-color, opacity 1s;
}
.project-image:hover .project-info {
    visibility: visible;
    opacity: 1; 
    background-color: rgba(214, 48, 49,0.5);
}
.project-title {
    font-size: 24px;   
    font-family: $font-header;
}
.project-button {
    background-color: $color-main;
    font-family: $font-text;
    font-size: 18px;
    padding: 10px 20px;
    color: $color-light;
    border-radius: 10%;
    transition-property: background-color, color;
    transition-duration: 1s;
}   
.project-button:hover {
    background-color: $color-light;
    color: $color-main;
}
.more-button {
    display: inline-block;
    font-family: $font-text;
    background-color: $color-main;
    color: $color-light;
    font-size: 18px;
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    transition-property: background-color, color;
    transition-duration: 1s;    
}
.more-button:hover {
    background-color: $color-light;
    color: $color-main;   
}

// Contact

.contact {
    background-color: #2d3436; 
}
.contact .section-title {
    color: $color-light;
}
form {
	display: flex;
	flex-flow: column;  
}
input {
    margin: 2px auto;
    width: 300px;
    height: 30px;
    font-family: $font-text;
}
textarea {
    margin: 2px auto;
    width: 300px;
    font-family: $font-text;
}
.submit-button {
    display: inline-block;
    font-family: $font-text;
    background-color: $color-main;
    color: $color-light;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
}
.submit-button:hover {
    background-color: $color-light;
    color: $color-main;
}

// Footer

.page-footer {
    background-color: #636e72;
    color: $color-light;
    padding: 10px 20px;
}
small {
    font-family: $font-text;
}